:root {
    --width-layout: 1200px;
    --text-color: #222;
    --covid-info-height: 59px;
    --white-color: #fff;
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* 12 column grid system */

.grid {
    /* width: var(--width-layout); */
    max-width: 100%;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.grid-row {
    margin-right: -5px;
    margin-left: -5px;
}

.grid-col {
    padding-left: 5px;
    padding-right: 5px;
}